Сверстать страницу по макету

Презентация: клик сюда

Требования:

Поддержка ИЕ9+ и Google Chrome последней версии
Ховер стили, стили для активных пунктов
Если высота контента меньше чем высота экрана, то футер прибит внизу экрана (! в этом случае нет ни вертикального, ни горизонтального скролла), если есть скролл (контета много), то футер идет после всего контента.
Левая колонка тянется за правой, они всегда должны быть одинаковой высоты.
Семантическая верстка.
Соблюдение озвученных стайлгайдов (это тех, на которые сверху ссылка)
Бонус за:

Пиксель в пиксель (Pixel Perfect)
Замечания: в меню, вертикальном и горизонтальном, отступы брать по первомым двум элементам. По шрифтам нет смысла подбирать горизонтальные расстояния.
Cтайлгайды: клик сюда

FAQ:

Q: Белый квадрат в хедере - это просто белый квадрат или предполагается наличие имэйджа?

A: Белый квадрат - это "логотип"