.rating label {
    position: relative;
}

.rating input[type=radio] {
    width: 16px;
    height: 16px;
    float: left;
    display: none;
}

.star {
    height: 16px;
    width: 16px;
    background: url('../img/sprite.png') -30px -790px;
    float: left;
    cursor: pointer;
}

.rating:hover .star {
    background-position: -30px -790px;
}

input:checked ~ label .star {
    background-position: 0 -790px;
}

input:checked + label .star {
    background-position: -30px -790px;
}

.rating label:hover ~ label .star {
    background-position: 0 -790px;
}
